#header
  %h1
    %span#page_title.mercury-region{"data-type" => "editable", "data-mercury" => "full"}= raw @page.title
.content
  #page_content.mercury-region{"data-type" => "editable", "data-mercury" => "full"}
    = raw @page.content
